body {
  text-align: center;
  background-color: rgb(202, 116, 241);
}

.navbar {
  background-color: #46055a;
}

h3 {
  color: #152672;
  font-size: 30px;
  text-transform: uppercase;
}

.detail a {
  text-decoration: none;
}

td {
  font-size: 20px;
}

tr {
  background-color: #43b8c9;
}

tr:nth-child(even) {
  background-color: white;
}

th {
  background-color: #46055a;
  color: white;
  text-transform: uppercase;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border: 1px solid black;
}

img {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border: 1px solid grey;
}

button {
  background-color: #152672;
  color: white;
}

button a {
  text-decoration: none;
}

table {
  margin-top: 100px;
  margin-bottom: 50px;
}