body{
    background-image: url('../../asset/img/kuy.png');
}

.container {
    background-color: rgba(177, 214, 212, 0.658);
    margin: 70px 500px 0px 500px;
    padding: 50px 0px 50px  50px;

}
img{
    padding-left: 50px;
}

.keterangan{
   font-size: 30px;
}

button{
    margin-left: 50px;
}