body{
    background-image: url('../../asset/img/kuy.png');
}
form{

    background-color: rgba(177, 214, 212, 0.658);
    margin: 70px 500px 0px 500px;
    padding: 50px 0px 50px  50px;
  
}

.cover{
    padding-left: 17px;
}
.judul{
    padding-left: 18px;
}
.penulis{
    padding-left: 6px;
}
.tebal{
    padding-left: 17px;
    padding-bottom: 30px;
}